[submodule "01-git-test"]
	path = 01-git-test
	url = git@github.com:rffkive/git_test.git
[submodule "02-recipes"]
	path = 02-recipes
	url = git@github.com:rffkive/odin-recipes.git
[submodule "03-landing-page"]
	path = 03-landing-page
	url = git@github.com:rffkive/odin-landing-page.git
[submodule "04-error-exercise"]
	path = 04-error-exercise
	url = git@github.com:rffkive/odin-error-exercise.git
[submodule "05-rock-paper-scissors"]
	path = 05-rock-paper-scissors
	url = git@github.com:rffkive/odin-rock-paper-scissors.git
[submodule "git_test"]
	url = https://github.com/rffkive/git_test.git
[submodule "2.5-css-exercises"]
	path = 2.5-css-exercises
	url = git@github.com:rffkive/css-exercises.git
[submodule "etch-a-sketch"]
	path = etch-a-sketch
	url = https://github.com/rffkive/odin-etch-a-sketch.git
[submodule "calculator"]
	path = calculator
	url = https://github.com/rffkive/odin-calculator.git
[submodule "odin-sign-up-form"]
	path = odin-sign-up-form
	url = https://github.com/rffkive/odin-sign-up-form
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = https://github.com/rffkive/javascript-exercises
[submodule "admin-dashboard"]
	path = admin-dashboard
	url = https://github.com/rffkive/admin-dashboard
